
.configs-grid {

    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
	 grid-column-gap: 0px;
	 margin-top: 25px;
}

.cell-pad {
	 padding: 10px;
}

.menu-grid {

    display: grid;
	 background-color: #aaa;
    width: 300px;
    height: 300px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
	 grid-column-gap: 0px;
}

.ticket-cell {
	 height: 300px;
	 width: 100px;
	 background-color: #aaa;
}

.menu-cell {
	 height: 200px;
	 width: 100px;
	 background-color: #999;
}

.image-upload>input {
	 
	 display: none;
}

.grid-span-2-6 {
	 
	 grid-column: 2/6;
}

.grid-span-7-9 {
	 
	 grid-column: 7/9;
}
