
.tax-edit-grid {

    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
 	 grid-column-gap: 15px;
 	 grid-row-gap: 25px;
	 margin-top: 25px;
}

.rate-grid {

    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr .5fr 1fr .2fr;
  	 grid-column-gap: 0px;
 	 grid-row-gap: 0px;
}
