.login-bg {
	 background: url("/img/grocery.jpg") no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 /* background-color: #aaa; */
}
