
/* https://getcssscan.com/css-box-shadow-examples */


.form-grid {
    display: grid;
 	 grid-row-gap: 3px;
	 grid-column-gap: 3px;
	 background: #fff;
	 padding: 3px;
	 margin-top: 5px;
	 margin-bottom: 12px;
	 /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
}

.form-cell {
	 padding: 1px !important;
	 color: #000;
	 text-align: start;
	 text-align: start;
	 height: 38px !important;
	 width: 100% !important;
	 line-height: 1.0rem !important;
}

.form-desc-cell {
	 color: #ffffff !important;
	 background: #888888 !important;
	 padding: 10px !important;
	 font-size: 18px !important;
    /* border-radius: 8px; */
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.form-control-cell {
	 background: #fff !important;
	 font-size: 16px !important;
	 padding-left: 0px !important;
	 margin-bottom: 5px; 
	 border-bottom: 1px solid #777;
	 /* border-bottom: 1px solid #000 !important; */
	 border-radius: 0px !important;
	 /* box-shadow: rgba(0, 0, 0, 0.05) 2px 0px 2px 2px, rgb(209, 213, 219) 0px 0px 0px 2px inset; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%); */
}

.form-control-cell:hover {
	 
	 border-bottom: 3px solid #0d6efd !important;
	 /* border-bottom: 1px solid #1B5C58; */
}

.form-empty-cell {
	 background: #fff !important;
}

.icon-cell {
	 padding: 10px !important;
	 background: #fff !important;
	 text-align: center !important;
	 vertical-align: middle !important;
}

.form-control {
	 /* border: 0px !important; */
}

.form-section {
	 font-size: 2.0em;
	 font-weight: 500;
	 text-align: left;
	 margin: 25px 0px 5px 0px;
}

.control-icons {
	 margin: 5px;
}

.control-button {
	 width: 100%;
	 height: 100%;
}

.form-controls-grid {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
 	 grid-row-gap: 0px;
	 background: #fff;
}

.form-submit-grid {

    display: grid;
    width: 25%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
 	 grid-column-gap: 15px;
 	 grid-row-gap: 25px;
	 margin-top: 25px;
	 margin-bottom: 50px;
}

.form-left {
	 padding: 10px !important;
	 text-align: start;
}

.form-center {
	 text-align: center !important;
}

.form-right {
	 text-align: end;
}

#main {
	 margin=-left: 320px !important;
}

section  {
	 padding: 0px !important;
}


.tooltip {
	 position: relative;
	 display: inline-block;
	 border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	 visibility: hidden;
	 width: 120px;
	 background-color: black;
	 color: #fff;
	 text-align: center;
	 border-radius: 6px;
	 padding: 5px 0;
	 position: absolute;
	 z-index: 1;
}

.tooltip:hover .tooltiptext {
	 visibility: visible;
}

.input-group-text {
	 width: auto;
	 font-size: 1.2em !important;
}

.input-amount {
	 text-align: start !important;
}

/* https://codepen.io/raubaca/pen/VejpQP */

/* select { */
/* 	 /\* Reset Select *\/ */
/* 	 appearance: none; */
/* 	 height: 42px; */
/* 	 outline: 0; */
/* 	 border: 0; */
/* 	 box-shadow: none; */
/* 	 /\* Personalize *\/ */
/* 	 flex: 1; */
/* 	 padding: 0; */
/* 	 color: #fff; */
/* 	 background-color: #aaa;  // var(--darkgray); */
/* 	 background-image: none; */
/* 	 border-radius: 0.25rem !important; */
/* 	 cursor: pointer; */
/* 	 font-size: 18px; */
/* } */

/* /\* Remove IE arrow *\/ */
/* select::-ms-expand { */
/* 	 display: none; */
/* } */
/* /\* Custom Select wrapper *\/ */
/* .select { */
/* 	 position: relative; */
/* 	 display: flex; */
/* 	 width: 100%; */
/* 	 height: 2.5em; */
/* 	 border-radius: .25em; */
/* 	 overflow: hidden; */
/* } */
/* /\* Arrow *\/ */
/* .select::after { */
/* 	 content: '\25BC'; */
/* 	 position: absolute; */
/* 	 top: 0; */
/* 	 right: 0; */
/* 	 padding: .5em; */
/* 	 background-color: #ccc; */
/* 	 transition: .25s all ease; */
/* 	 pointer-events: none; */
/* } */
/* /\* Transition *\/ */
/* .select:hover::after { */
/* 	 color: #fff; */
/* } */

#action_form {
	 
	 background-color: #fefefe;
	 color: #333;
	 position: fixed;
	 top: 10px;
	 right: -50%;
	 width: 50%;
	 height: 100%;
	 padding: 15px;
	 -webkit-transition-duration: 0.5s;
	 -moz-transition-duration: 0.5s;
	 -o-transition-duration: 0.5s;
	 transition-duration: 0.5s;
	 border-radius: 5px;
	 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	 overflow: scroll;
}

#action_form.on {
	 
	 right: 0;
}

.input-group-grid {

	 display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: .5fr 10fr !important;
 	 grid-column-gap: 0px;
 	 grid-row-gap: 0px;
	 background: #eee;
	 vertical-align: middle;
}
