 .inline {
	  
	  width: 100% !important;
	  background-color: transparent !important;
	  color: #000 !important;
	  font-size: 15px !important;
	  line-height: 1.5em;
 	  border: none !important;
	  padding: 5px 0px 0px 0px !important;
}

/*  .form-control { */

/* 	  border-bottom: 1px solid #777 !important; */
/* 	  height: 40px !important; */
/* 	  padding: 0px !important; */
/*  } */
 
/*  .form-control-cell:hover { */
	 
/* 	 border-bottom: 3px solid green !important; */
/*  } */
 
/*  .form-control-cell .inline:focus { */
	 
/* 	 border-bottom: 3px solid green !important; */
/* 	 box-shadow: none !important; */
/* } */

 select.custom-dropdown {

	  border: none !important;
 }

.inline:hover {
	 
	 border-bottom: 3px solid green !important;
	 /* border-bottom: 1px solid #1B5C58; */
}
