

/* font-family: "museo-sans","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; */

 .menu-main-grid {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 500px 500px;
    grid-column-gap: 0px;
}

.menu-add-grid {
    display: grid;
    width: 100%;
	 height: auto;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
	 padding-left: 30px;
	 padding-right: 30px;
	 align-items: center;
}

.menu-edit-grid {

    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: .02fr 1fr .02fr;
    grid-column-gap: 20px;
	 align-items: center;
}

.menu-nav-grid {

    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
	 margin-bottom: 20px;
	 padding-left: 20px;
	 padding-right: 20px;
	 justify-content: center;
	 align-content: start;
}

.menu-grid-add {

    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.menu-grid-edit-colors {

    display: grid;
    width: 100%;
    grid-template-rows: 40px 40px 40px 40px;
    grid-template-columns: repeat(10, 1fr);
	 grid-gap: 10px;
    margin-top: 15px;
}

.menu-grid-edit-controls {

    display: grid;
    width: 90;
    grid-template-columns: 30% repeat(2, 1fr) 30%;
	 grid-gap: 20px;
    margin-top: 30px;
 }
 
.menu-grid-edit-upload {

    display: grid;
    width: 100px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
 }

 .grid-align-top {
	  vertical-align: top;
 }

 .checkbox-control {
	  padding-top: 5px;
 }
 
.checkbox-lable {
	  padding-left: 5px;
 }
	  
button-prompt {
	 font-weight: 600;
	 font-size: 120%;
 	 text-align: center;
	 margin-top: 100px;
}

.grid-span-all-cols {
	 grid-column: 1/-1;
	 margin-bottom: 20px;
}

.grid-span-all-rows {
	 grid-rows: 1/-1;
	 margin-bottom: 20px;
}

.edit-menu-list {
  list-style-type: circle;
}

.drop-btn {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border: none;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #fff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .drop-btn {background-color: #fff;}

.menu-color {
	 cursor: pointer;
}

a .grid-cell-editor {
	 color: white !important;
}

.menu-credit-grid {

    display: grid;
    width: 50%;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
	 justify-content: start;
}

.grid-center {
	 margin-left: auto;
    margin-right: auto;
}

.row-menu a {
	 padding: 0px;
}
