@import "bourbon";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

$shadow-color: #23203b;
$input-color: lighten(#AB9E95, 10%);
$input-border-color: #5E5165;
$button-background-color: #27AE60;

/* * { */
/* 	 margin: 0; */
/* 	 padding: 0; */
/* } */

/* html {  */
/* 	 background: url(https://dl.dropboxusercontent.com/u/159328383/background.jpg) no-repeat center center fixed;  */
/* 	 -webkit-background-size: cover; */
/* 	 -moz-background-size: cover; */
/* 	 -o-background-size: cover; */
/* 	 background-size: cover; */
/* } */

body {
	 background-color: #000 !important;
}

/* body, input, button { */
/* 	 font-family: 'Source Sans Pro', sans-serif; */
/* } */

#header {
	 width: 50% !important;
}

@mixin normalize-input {
	 display: block;
	 width: auto;
	 height: auto;
	 border: none;
	 outline: none;
	 box-shadow: none;
	 background: none;
	 border-radius: 0px;
}

h2 {
	 color: #bbb !important;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 font-size: 5.0rem !important;
	 /* margin-block: 0px; !important; */
}

.form-control {
	 background-color: transparent !important;
	 border: none !important;
	 /* border: 1px solid #555 !important; */
	 /* padding-left: 5px !important; */
	 margin-top: 20px !important;
	 margin-left: 3px !important;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 -webkit-border-radius: 3px !important;
	 border-radius: 3px !important;
	 color: #eee !important;
}

.login-button {
	 margin-top: 25px;
	 width: 150px;
	 font-size: 3rem !important;
}

.login-wrapper {
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

.input-group {
	 font-size: 5.0rem !important;
}

.login {
	 
	 /* padding: 15px; */
	 width: 50%;
	 min-height: 400px;
	 margin: 2% auto 0 auto;

	 .heading {
		  text-align: center;
		  margin-top: 1%;

		  h2 {
				font-size: 3em;
				font-weight: 300;
				color: rgba(255, 255, 255, 0.7);
				display: inline-block;
				padding-bottom: 5px;
				text-shadow: 1px 1px 3px $shadow-color;
		  }
	 }
	 
	 form {
		  .input-group {
				border-bottom: 1px solid #777;
				border-top: 1px solid #777;
				font-size: 2.0rem !important;

				&:last-of-type {
					 border-top: none;
				}

				span {
					 background: transparent !important;
					 background-color: transparent !important;
					 min-width: 53px;
					 border: none;

					 i {
						  font-size: 1.5em;
						  color: rgba(255, 255, 255, 0.2);
					 }
				}
		  }

		  input.form-control {
				@include normalize-input;

				/* padding: 10px; */
				font-size: 2.0rem !important;
				width: 100%;
				background: transparent !important;
				background-color: transparent !important;
				color: $input-color;

				&:focus {
					 border: none;
				}
		  }

		  button {
				margin-top: 20px !important;
				background: $button-background-color;
				border: none;
				font-size: 1.6em;
				font-weight: 300;
				/* padding: 5px 0; */
				width: 100%;
				border-radius: 3px;
				color: lighten($button-background-color, 40%);
				border-bottom: 4px solid darken($button-background-color, 10%);

				&:hover {
					 background: tint($button-background-color, 4%);
					 -webkit-animation: hop 1s;
					 animation: hop 1s;
				}
		  }
	 }
}

.float {
	 display: inline-block;
	 -webkit-transition-duration: 0.3s;
	 transition-duration: 0.3s;
	 -webkit-transition-property: transform;
	 transition-property: transform;
	 -webkit-transform: translateZ(0);
	 transform: translateZ(0);
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover, .float:focus, .float:active {
	 -webkit-transform: translateY(-3px);
	 transform: translateY(-3px);
}

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1500px) {
}

@media only screen and (max-width : 1200px) {
	 .login {
		  width: 600px;
		  font-size: 2em;
	 }
}

@media only screen and (max-width : 1100px) {
	 .login {
		  margin-top: 2%;
		  width: 600px;
		  font-size: 1.7em;
	 }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	 .login {
		  margin-top: 1%;
		  width: 550px;
		  font-size: 1.7em;
		  min-height: 0;
	 }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	 .login {
		  margin-top: 0;
		  width: 500px;
		  font-size: 1.3em;
		  min-height: 0;
	 }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	 .login {

		  h2 {
				margin-top: 0;
		  }

		  margin-top: 0;
		  width: 400px;
		  font-size: 1em;
		  min-height: 0;
	 }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	 .login {
		  margin-top: 0;
		  width: 200px;
		  font-size: 0.7em;
		  min-height: 0;
	 }
}
