// https://www.codehim.com/bootstrap/bootstrap-navbars/bootstrap-sidebar-menu-with-submenu


body {
    position: relative;
    overflow-x: hidden;
    background-color: #CFD8DC;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 350px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 350px;
    width: 0;
    height: 100%;
    margin-left: -350px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
	 display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 350px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -350px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
	 margin-top: 10px;
	 padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 15px;
    width: 250px;
    margin: 0;
    padding: 5;
    list-style: none;
	 font-size: var(--bs-body-nav-font-size);
}

.sidebar-nav li {
    position: relative;
	 text-decoration: none;
	 font-size: 15px;
    line-height: 20px;
    display: inline-block;
    width: 85%;
}

.sidebar-nav li:before {
    content: '';
	 color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 5px;
	 border-radius: 50px 50px 50px 50px;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
	 decoration: none !important;
	 font-size: 18px !important;
	 font-weight: 600 !important;
	 /* background-color: #ddefef; */
	 box-shadow: 0 2.5em 0 -1.3em;
}

/* .sidebar-nav li:hover:before { */
/*     width: 100%; */
/* 	 decoration: none !important; */
/* 	 font-size: 18px !important; */
/* 	 font-weight: 600 !important; */
/* 	 /\* background-color: #ddefef; *\/ */
/* 	 box-shadow: 0 2.5em 0 -1.3em; */
/* } */

/* .sidebar-nav li:hover { */
/*     width: 100%; */
/* 	 font-weight: 600 !important; */
/* 	 /\* background-color: #ddefef; *\/ */
/* 	 /\* box-shadow: 0 2.5em 0 -1.3em; *\/ */
/* } */

.sidebar-nav li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 15px 10px 20px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    text-decoration: none;
    background-color: transparent;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.sidebar-brand {
    height: 65px;
    position: relative;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    padding-top: 1em;
}
.sidebar-brand a {
    color: #ddd;
}
.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #000;
    background:#fff;
    /* background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%); */
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0 0 0 12px;
    border-radius: 0;
    border: none;
    background-color: #fff;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
	 position: fixed;
	 top: 20px;  
	 z-index: 999;
	 display: block;
	 width: 32px;
	 height: 32px;
	 margin-left: 15px;
	 background: transparent;
	 border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
	 outline: none;
}
.hamburger.is-closed:before {
	 content: '';
	 display: block;
	 width: 100px;
	 font-size: 14px;
	 color: #fff;
	 line-height: 32px;
	 text-align: center;
	 opacity: 0;
	 -webkit-transform: translate3d(0,0,0);
	 -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
	 opacity: 1;
	 display: block;
	 -webkit-transform: translate3d(-100px,0,0);
	 -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	 position: absolute;
	 left: 0;
	 height: 4px;
	 width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
	 background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
	 top: 5px; 
	 -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
	 top: 50%;
	 margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
	 bottom: 5px;  
	 -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
	 top: 0;
	 -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
	 bottom: 0;
	 -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	 background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
	 top: 50%;
	 margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
	 -webkit-transform: rotate(45deg);
	 -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
	 -webkit-transform: rotate(-45deg);
	 -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
	 content: '';
	 display: block;
	 width: 100px;
	 font-size: 14px;
	 color: #fff;
	 line-height: 32px;
	 text-align: center;
	 opacity: 0;
	 -webkit-transform: translate3d(0,0,0);
	 -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
	 opacity: 1;
	 display: block;
	 -webkit-transform: translate3d(-100px,0,0);
	 -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

.bx {
	 margin-right: 10px !important;
}
