/*

https://freefrontend.com/css-tabs/
https://codepen.io/inupurnomo/pen/MWWRmQr

*/

* {
  box-sizing: border-box !important;
}

.tab-container {
    position:absolute;
	 width: 100%;
	 margin: 15px auto;
	 padding: 10px;
}

/* .tab-content { */
/* 	 width: 100%; */
/* 	 background: #eee; */
/* 	 height: auto; */
/* 	 margin: 15px; */
/* 	 //padding: 5px; */
/* 	 border-bottom: 1px solid #000; */
/* } */

.nav-pills {
	 width: 100%;
}

.nav-item {
	 padding: 0px 0px 0px 2px;
	 width: fit-content;
	 text-align: center;
	 // box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.nav-pills .nav-link {
	 font-weight: bold;
	 padding-top: 13px;
	 text-align: center;
	 background: #343436;
	 color: #fff;
	 border-top-left-radius: 10px;
	 border-top-right-radius: 10px;
	 height: 50px;
}

.nav-pills .nav-link.active {
	 background: #aaa;
	 color: #fff;
}

.tab-content {
	 position: absolute;
	 /* margin-left:300px; */
	 width: auto;
	 margin-top: -60px;
	 background: #fff;
	 color: #000;
	 border-top-left-radius: 10px;
	 border-top-right-radius: 10px;
	 height: 50px;
	 z-index: 1000;
	 padding: 5px;
	 // margin-bottom: 50px;
}

.tab-content button {
	 width: 100px;
	 margin: 0 auto;
	 float: right;
}

.tab-icon {
	 margin-left: 12px;
}

.main-content {
    /* position:absolute; */
	 padding: 0px 30px 0px 30px;
}

