
.profile-name-grid {
    display: grid;
    width: 50%;
    grid-template-rows: auto;
    grid-template-columns:1fr 4fr;
	 grid-column-gap: 0px;
	 margin-top: 25px;
}

.category-grid {
	 
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
	 grid-column-gap: 0px;
	 margin-top: 25px;
}
