
 .menu-grid {
	  
	  display: grid;
	  width: 100%;
	  grid-template-columns: 1fr 2fr 1fr;
	  margin-top: 25px;
	  grid-column-gap: 2em;
 }

 .menu-layout {

 	  display: grid;
	  width: 100%;
	  height: 200px;
	  text-align: center;
	  grid-row-gap: 15px;
	  grid-column-gap: 15px;
	  margin: 3px;
	  padding: 3px;
	  cursor: pointer;
	  border: 1px solid black;
	  border-radius: 5px !important;
 }
 
 .layout_1l {
	  
	  grid-template-columns: 2fr 1fr;
	  grid-template-rows: 2fr 1fr;
 }
 
 .layout_1r {
	  
	  grid-template-columns: 1fr 2fr;
	  grid-template-rows: 2fr 1fr;
 }
 
 .layout_2r {
	  
	  grid-template-columns: 1fr 2fr;
	  grid-template-rows: 2fr 1.5fr;
 }
 
 .layout_oasis {
	  
	  grid-template-columns: 1fr 1.5fr;
	  grid-template-rows: 2fr 1.5fr .5fr;
 }
 
 .handheld_1 {
	  width: 50% !important;
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr 2fr;
 }
 
 img {
     width: 100%;
     object-fit: contain;
 }
 
 .menu-1 {

	  background-color: var(--bs-success-bg-subtle);
 }
 .menu-2 {

	  background-color: var(--bs-primary-bg-subtle);
 }
 .menu-3 {

	  background-color: var(--bs-secondary-bg-subtle);
 }
 .menu-4 {

	  background-color: var(--bs-info-bg-subtle);
 }
 .grid-span-all {
	  
	  text-align: center;
	  grid-column: 1/-1;
 }

 .select-button {
	  
	  box-shadow: 0px 0px 3px 3px rgba(0, 0, 200, 0.5);
 }
 
 .menu-button {

	  cursor: pointer;
	  font-size: <?= $buttonTextSize ?>em;
	  height: 100px;
	  color: white !important;
	  padding-top: 5px;
	  padding-left: 5px;
	  border-radius: 5px;
	  border: solid 2px #aaa;
 }
 
 .button-grid {
	  
	  display: grid;
	  width: 100%;
	  grid-template-columns: repeat(<?= $menuWidth ?>, 1fr);
	  grid-row-gap: 10px;
	  grid-column-gap: 10px;
 }

 .empty-button {

	  cursor: pointer;
	  height: <?= $buttonHeight ?>px;
	  color: #000 !important;
     background: #fff;
	  border-radius: 5px;
	  border: solid 2px #aaa;
	  display: flex;
	  justify-content: center;
	  align-items: center;
 }
 
.templates-grid {
	  
	  display: grid;
	  width: 100%;
	  align-items: center;
	  justify-content: center;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: auto;
	  margin-top: 25px;
	  grid-column-gap: 2em;
	  grid-row-gap: 2em;
 }

