
 .menu-grid {
	  
	  display: grid;
	  width: 100%;
	  grid-template-columns: 1fr 2fr 1fr;
	  margin-top: 25px;
	  grid-column-gap: 2em;
 }

 
 .layout_1 {
	  
	  display: grid;
	  width: 100%;
	  height: 50%;
	  grid-template-columns: 1fr 1.5fr;
	  grid-template-rows: 2fr 1.5fr .5fr;
	  grid-row-gap: 5px;
	  grid-column-gap: 5px;
	  cursor: pointer;
	  padding: 5px;
	  border: solid 2px var(--bs-gray-400);
	  border-radius: 5px !important;
	  box-shadow: 0 2px 7px rgb(0 0 0 / 0.2) !important;
 }
 
 .layout_oasis {
	  
	  display: grid;
	  width: 100%;
	  height: 50%;
	  grid-template-columns: 1fr 1.5fr;
	  grid-template-rows: 2fr 1.5fr .5fr;
	  grid-row-gap: 5px;
	  grid-column-gap: 5px;
	  cursor: pointer;
	  padding: 5px;
	  border: solid 2px var(--bs-gray-400);
	  border-radius: 5px !important;
	  box-shadow: 0 2px 7px rgb(0 0 0 / 0.2) !important;
 }
 
 .handheld_1 {
	  
	  display: grid;
	  width: 100%;
	  height: 50%;
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr 1fr;
	  grid-row-gap: 5px;
	  grid-column-gap: 5px;
	  cursor: pointer;
	  padding: 5px;
	  border: solid 2px var(--bs-gray-400);
	  border-radius: 5px !important;
	  box-shadow: 0 2px 7px rgb(0 0 0 / 0.2) !important;
 }

 .menu-1 {

	  background-color: var(--bs-success-bg-subtle);
 }
 .menu-2 {

	  background-color: var(--bs-primary-bg-subtle);
 }
 .menu-3 {

	  background-color: var(--bs-secondary-bg-subtle);
 }
 .menu-4 {

	  background-color: var(--bs-info-bg-subtle);
 }
 .grid-span-all {
	  
	  text-align: center;
	  grid-column: 1/-1;
 }

 .select-button {
	  
	  box-shadow: 0px 0px 3px 3px rgba(0, 0, 200, 0.5);
 }
