
.controls-grid {
	 
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
	 grid-column-gap: 10px;
	 margin-top: 25px;
}

.pricing-grid {

    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: .25fr 1fr 2fr .25fr;
	 grid-column-gap: 1px;
	 margin-top: 25px;
}

