.size-pricing-grid {

    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
 	 grid-column-gap: 15px;
 	 grid-row-gap: 25px;
 	 margin-top: 25px;
}

.size-pricing-sizes-grid {

    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr 1fr .25fr;
 	 grid-column-gap: 0px;
 	 grid-row-gap: 0px;
}

.header-grid {
	 
	 background-color: #888888;
}
