
.tickets-grid {

	 width: 100%;
	 display: grid;
	 grid-template-columns: .05fr .05fr .5fr 1fr 1.5fr repeat(7, 1fr);
	 grid-column-gap: 0;
}
.select-box-selected {
	 
	 background: #ddd;
}

.select-box-future {
	 
	 color: #999;
}

.select-box-active {
	 
	 cursor: pointer;
}

.search-control {
	 
	 cursor: pointer;
}

.select-box {
	 
	 padding: 7px;
	 border: solid #000 1px;
	 height: 44px;
}

.btn-select {
	 
	 border: solid #000 1px !important;
}

checkbox {

	 margin-top: 20px !important;
}

.grid-span-left {
	 grid-column: 2/5;
}

.grid-span-right {
	 grid-column: 6/9;
}

.grid-span-2-4 {
	 grid-column: 2/4;
}

.grid-span-6-8 {
	 grid-column: 6/8;
}

.grid-span-2-3 {
	 grid-column: 2/3;
}

.grid-span-2-9 {
	 grid-column: 2/9;
}

.container {
	 margin-top: 10px;
	 z-index: auto;
}
.container {
	 
	 margin-top: 10px;
	 z-index: auto;
}

#detail {
	 
	 background: #fff;
	 color: #333;
	 position: fixed;
	 top: 10px;
	 right: -50%;
	 width: 50%;
	 height: 100%;
	 padding: 15px;
	 -webkit-transition-duration: 0.5s;
	 -moz-transition-duration: 0.5s;
	 -o-transition-duration: 0.5s;
	 transition-duration: 0.5s;
	 /* border: solid 1px #ccc; */
	 border-radius: 5px;
    /* box-shadow: 0px 0px 3px #999, inset 0px 0px 2px #999; */
	 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	 /* box-shadow: 0px 1px 8px rgba(0, 0, 0, .18) */
	 overflow: scroll;
}

#detail.on {
	 
	 right: 0;
}

.detail-close {

	 cursor: pointer;
	 color: #555;
	 font-size: 32px !important;
	 margin-left: 20px;
}

#ticket_action {
	 
	 background: #fff;
	 color: #333;
	 position: fixed;
	 top: 10px;
	 right: -60%;
	 width: 60%;
	 height: 100%;
	 padding: 5px;
	 -webkit-transition-duration: 0.5s;
	 -moz-transition-duration: 0.5s;
	 -o-transition-duration: 0.5s;
	 transition-duration: 0.5s;
	 /* border: solid 1px #ccc; */
	 border-radius: 5px;
    /* box-shadow: 0px 0px 3px #999, inset 0px 0px 2px #999; */
	 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	 /* box-shadow: 0px 1px 8px rgba(0, 0, 0, .18) */
	 overflow: scroll;
}

#ticket_action.on {
	 
	 right: 0;
}

.ticket_action-close {

	 cursor: pointer;
	 color: #555;
	 font-size: 32px !important;
	 margin-left: 20px;
}

@media (max-width: 500px) {

	 body {

		  font-size: 12px !important;
	 }
	 
	 button {

		  font-size: 12px !important;
	 }
	 
	 .form-cell {

		  font-size: 12px !important;
	 }
	 
	 #ticket_action {
		  right: -90%;
		  width: 90%;
	 }
}
