
.ticket-grid {
	 
	 display: grid;
    width: 100%;
	 grid-template-columns: 1.5fr 1fr;
	 grid-column-gap: 5px;
	 align-items: top;
	 margin-top: 5px;
}

.video-grid {
	 
	 display: grid;
    width: 100%;
	 grid-template-columns: .1fr 1fr .1fr;
	 grid-column-gap: 0px;
	 margin-top: 0px;
	 /* padding: 5px; */
	 /* margin: 5px; */
}

.details-grid {
 	 display: grid;
    width: 100%;
	 grid-template-columns: 1fr 1fr;
	 grid-column-gap: 0px;
	 padding: 10px !important;
	 margin-top: 5px;
 	 grid-row-gap: 0px;
}

.header-grid {
	 
	 grid-template-columns: 1fr 1fr;
}

.tender-grid {
	 
	 grid-template-columns: repeat(4, 1fr);
 	 margin-top: 0px;
}

.video-box {

	 /* height: 320px; */
	 /* widht: 640px; */
	 /* background-size: cover; */
    /* margin-right: 10px; */
}

.grid-span-3 {
	 grid-column: 1/4;
}
.controls-grid {
	 
	 display: grid;
    width: 95%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr .5fr;
	 margin-top: 22px !important;
}

video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.ticket-text {

	 width: 320px;
	 box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
	 font-size: .8rem;
}

.void-item {

	 text-decoration: line-through;
}
