.controls-grid {
	 
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 120px repeat(5, 2fr);
	 grid-column-gap: 10px;
	 margin-top: 25px;
}

.supplier-grid {

    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: .25fr repeat(3, 3fr);
	 grid-column-gap: 0px;
	 margin-top: 25px;
}
