.controls-grid {
	 
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 120px repeat(5, 2fr);
	 grid-column-gap: 10px;
	 margin-top: 25px;
}

.menu-grid {
	 
	 display: grid;
	 width: 100%;
	 grid-template-columns: 1fr;
	 margin-top: 25px;
	 grid-column-gap: 15px;
}

.sub-menu-grid {
	 
	 display: grid;
	 width: 100%;
	 grid-template-columns: 1fr 1fr;
	 margin-top: 3px;
	 grid-column-gap: 15px;
}

.container-grid {

	 border: solid 1px #555;
	 border-radius: 5px;
}

.menu-controls-grid {
	 
	 display: grid;
	 width: 100%;
	 grid-template-columns: 1fr;
	 margin-top: 5px;
	 grid-row-gap: 5px;
	 grid-column-gap: 5px;
	 vertical-align: top;
}

.controls-size-grid {
	 
	 display: grid;
	 width: 100%;
	 grid-template-columns: 1fr 1fr 1fr 1fr;
	 grid-row-gap: 5px;
	 grid-column-gap: 5px;
}

.add-menu-grid {
	 
	 display: grid;
	 width: 100%;
	 grid-template-columns: 1fr 1fr;
	 margin-top: 5px;
	 grid-row-gap: 5px;
	 grid-column-gap: 5px;
}

.button-grid {
	 
 	 display: grid;
	 width: 100%;
	 height: 100%;
	 grid-row-gap: 3px;
	 grid-column-gap: 3px;
	 padding: 5px;
}

.button-1-grid {
	 
	 grid-template-columns: repeat(1, 1fr);
}

.button-2-grid {
	 
	 grid-template-columns: repeat(2, 1fr);
}

.button-3-grid {
	 
	 grid-template-columns: repeat(3, 1fr);
}

.button-4-grid {
	 
	 grid-template-columns: repeat(4, 1fr);
}

.button-5-grid {
	 
	 grid-template-columns: repeat(5, 1fr);
}

.button-6-grid {
	 
	 grid-template-columns: repeat(6, 1fr);
}

.button-7-grid {
	 
	 grid-template-columns: repeat(7, 1fr);
}

.button-8-grid {
	 
	 grid-template-columns: repeat(8, 1fr);
}

.button-9-grid {
	 
	 grid-template-columns: repeat(9, 1fr);
}

.button-10-grid {
	 
	 grid-template-columns: repeat(10, 1fr);
}

.button {

	 cursor: pointer;
	 width: 100%;
	 height: 80px;
	 font-size: 75%;
	 color: white;
	 border-radius: 3px;
	 background: #fff;
	 padding: 3px;
	 border: solid 1px #aaa;
}

.form-control {

	 height: 36px !important;
}

#button_container {
	 
	 /* background-color: rgba(255,255,255,.9); */
	 background: #fff;
    z-index: 2;
	 color: #333;
	 position: fixed;
	 top: 10px;
	 right: -42%;
	 width: 42%;
	 height: 100%;
	 padding: 15px;
	 -webkit-transition-duration: 0.5s;
	 -moz-transition-duration: 0.5s;
	 -o-transition-duration: 0.5s;
	 transition-duration: 0.5s;
	 border: solid 1px #999;
	 border-radius: 5px;
	 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	 overflow: scroll;
}

#button_container.on {
	 right: 0;
}

.button_container-close {

	 cursor: pointer;
	 color: #555;
	 background-color: #fff;
	 font-size: 32px !important;
	 margin: 20px;
	 border-radius: 42%;
	 box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
}

.button-container-current {

	 border-bottom: solid 1px black; 
	 /* font-weight: 600; */
	 /* color: red; */
}

.empty-button {

	 cursor: pointer;
	 color: #000 !important;
    background: #fff;
	 padding-top: 25%;
	 text-align: center !important;
	 vertical-align: middle !important;
}

.float-top {

    display: block;
    float: right;
    position: relative;
    top: 5px;
    z-index: 1;
}

@media (min-width: 576px) {

	 .button {

		  width: 100%;
		  height: 60px;
		  font-size: 55%;
	 }
}

@media (min-width: 768px) {
		  
	 .button {

		  width: 100%;
		  height: 60px;
		  font-size: 55%;
	 }
}

@media (min-width: 1300px) {
		  
	 .button {

		  width: 100%;
		  height: 60px;
		  font-size: 55%;
	 }
}
