
.discount-controls-grid {
	 
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 120px 2fr 3fr 3fr;
	 grid-column-gap: 10px;
	 margin-top: 25px;
}

.discount-grid {
	 
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: .25fr 2fr 2fr 1fr 1fr;
	 grid-column-gap: 0px;
	 margin-top: 25px;
}
