.mix-and-match-edit-grid {

    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.date-grid {
	 
    width: 100%;
    grid-template-rows: 1fr;
	 grid-template-columns: 1fr 1fr;
}


.search-grid {

    width: 100%;
    grid-template-rows: 1fr;
	 grid-template-columns: 1fr 2fr;
}

.items-grid {

    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr repeat(3, 1fr);
}
